#landing-page{
  video {
    position: absolute;
    /* Vertical and Horizontal center*/
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  .container{
    color: white;
    overflow: hidden;
    position: relative;
  }
  .landing-title{
    padding: 130px 0 50px 0;
    h1{
      font-family: 'Josefin Slab', serif;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #fffcfc4d;
      background: -webkit-linear-gradient(#eee, #6f6f6fa3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h3{
      font-family: 'Merienda', cursive;
      font-size: 1rem;
    }
  }
  .main-col{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    text-align: center;
  
    h2{
      font-family: 'Anton';
      font-weight: 400;
      font-size: 2rem;
    } 
  }
}

#video_cover {
 
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
}