#contact{
  margin-top: 100px;
  .contact-box{
    background-color: white;
    margin: 60px 50px;
    padding: 40px 30px;
    height: 100% auto;

    .contact-header{
      text-align: center;
      padding: 0 40px;
      margin-bottom: 70px;

      h1{
        color: $link-color;
        font-weight: bold;
      }
      h4{
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 35px 0;
        color: #00000066;
      }
      p{
        font-size: 21px;
        color: #00000057;
        font-family: 'Titillium Web', sans-serif;
      }
    }
  }

  .contact-info{
    h5{
      color: $link-color;
    }
    span{
      font-weight: 500;
      color: #0000008f;
    }
  }
}

@media screen and (max-width: 991px){
  #contact{
    .contact-box{
      margin: 0 !important;
      padding: 20px;

      .col-md-6{
        margin-bottom: 20px;
      }
    }

  }
}